@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-dark border border-secondary">
                <div class="card-body">
                    <h5 class="card-title">Registra cliente</h5>
                    <p class="card-text">Inserisci i dati e aggiungi  un nuovo cliente al database.</p>
                    @Html.ActionLink("Registra Cliente", "NuovoCliente", "Cliente", null, new { @class = "btn btn-outline-success" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-dark border border-secondary">
                <div class="card-body">
                    <h5 class="card-title">Registra spedizione</h5>
                    <p class="card-text">Registra una nuova spedizione al database.</p>
                    @Html.ActionLink("Registra Spedizione", "NuovaSpedizione", "Spedizione", null, new { @class = "btn btn-outline-success" })
                </div>
            </div>
        </div>
    </div>
</main>