@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-dark border border-secondary">
                <div class="card-body">
                    <h5 class="card-title">Registrati subito</h5>
                    <p class="card-text">Diventa cliente, registra i tuoi dati, traccia le tue spedizioni!</p>
                    @Html.ActionLink("Sign In", "NuovoCliente", "Cliente", null, new { @class = "btn btn-outline-success" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-dark border border-secondary">
                <div class="card-body">
                    <h5 class="card-title">Registra la tua spedizione</h5>
                    <p class="card-text">Registra la tua spedizione, controlla il suo stato, la sua posizione e tutte le tue spese.</p>
                    @Html.ActionLink("Registra Spedizione", "NuovaSpedizione", "Spedizione", null, new { @class = "btn btn-outline-success" })
                </div>
            </div>
        </div>
    </div>
</main>